<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="defFname" value="C:\Users\garfi\OneDrive\Documentos\Trash\20200201\20200103-090006-Sellar-List.log"/>
  </appSettings>
</configuration>